/**PAGE SETUP**/
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

body {
  font-size: 14px;
}

.blocpage, .footer {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.fas {
  color: #7e7e7e;
}

/*LOADER*/
.loaderBox {
  position: relative;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 1;
  animation: load 2s forwards;
}
.loaderBox .loader {
  width: 100px;
  height: 100px;
  border-top: 10px solid #9356dc;
  border-left: 10px solid #99e2d0;
  border-right: 10px solid #99e2d0;
  border-bottom: 10px solid #ff79da;
  border-radius: 50%;
  margin: auto;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: spin 1.5s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
    z-index: 1;
  }
}

/*HEADER*/
header {
  box-shadow: 0px 3px 4px #cecece;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .headerBackArrow > a > .fas {
  color: #353535;
}
header .headerBackArrow {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 10px;
  top: 28%;
}

header, h1 {
  font-family: "shrikhand", serif;
  color: black;
  font-size: 1.6rem;
  padding: 8px 0 5px 0;
  text-align: center;
}

h2 {
  font-size: 1.6rem;
  font-weight: bold;
}

p {
  font-size: 1rem;
}

/*LOCATION*/
.location {
  background-color: #eaeaea;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  color: #575757;
}
.location .locationName {
  margin-left: 13px;
}

.locationIcon, .locationName {
  display: inline-block;
}

/*SEARCH AREA*/
.search {
  background-color: #f6f6f6;
  padding: 30px 0;
}
.search .searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search .searchTitle {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
}
.search .searchP {
  text-align: center;
  font-size: 17px;
  margin: 15px 0 25px 0;
}
.search .searchButton {
  font-weight: bold;
  font-size: 0.9rem;
  color: white;
  border-radius: 50px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2);
  padding: 15px 20px 15px 20px;
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  margin: 10px 0 30px 0;
  cursor: pointer;
  opacity: 1;
}
.search .searchButton:hover {
  transform: scale(1.06);
  transition-duration: 300ms;
  cursor: pointer;
  opacity: 0.8;
}

/*CUSTOM STEPS*/
.customContainer {
  padding: 2rem 0;
}
.customContainer .custom {
  display: flex;
  flex-direction: column;
}
.customContainer .customTitle {
  margin: 0 0 10px 10px;
}
.customContainer .customStepsGrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.customContainer .customStep {
  padding: 15px 0px;
  background-color: #f6f6f6;
  position: relative;
  box-shadow: 0px 0px 2px 0px;
  margin: 10px 20px;
  border-radius: 20px;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.customContainer .customStep:hover {
  background-color: #f8f2ff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  transition-duration: 300ms;
  cursor: pointer;
}
.customContainer .customStep:hover .fas {
  color: #9356dc;
}
.customContainer .customNumber {
  background-color: #9356dc;
  color: white;
  padding: 3px 8px;
  border-radius: 500px;
  transform: translateX(-50%);
}
.customContainer .customIcon {
  margin: 0 20px 0 -5px;
}

/*RESTAURANTS*/
.restaurants {
  background-color: #f6f6f6;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.restaurants .restaurantCards {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
.restaurants .card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border-radius: 20px;
}
.restaurants .card a {
  margin-bottom: 2rem;
  box-shadow: 0px 3px 4px #cecece;
  border-radius: 20px;
}
.restaurants .cardImg {
  height: 160px;
  width: 100%;
}
.restaurants .newCardBox {
  display: flex;
  align-items: center;
  position: absolute;
  background-color: #99e2d0;
  padding: 5px 15px;
  top: 20px;
  right: 20px;
}
.restaurants .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurants .cardTextBloc {
  background-color: white;
  margin-top: -5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90%;
  border-radius: 0 0 20px 20px;
}
.restaurants .cardTextBloc .textBloc {
  padding: 15px;
}
.restaurants .cardTextBloc .textBloc .cardName {
  font-weight: bold;
}
.restaurants .cardTextBloc .cardHeart {
  position: relative;
  margin-right: 1.5rem;
  width: 1.5rem;
}
.restaurants .cardTextBloc .cardHeart .heartFull {
  position: absolute;
}
.restaurants .cardTextBloc .cardHeart .heartFull path {
  fill: url(#heartColor);
  stroke: url(#heartColor);
  opacity: 0;
}
.restaurants .cardTextBloc .cardHeart .heartFull path:hover {
  opacity: 1;
  transition: 0.5s;
}
.restaurants .cardTextBloc .cardHeart .heartEmpty path {
  fill: white;
  stroke: black;
  stroke-width: 20px;
  position: relative;
}

/*IMAGE RESTAURANT PAGES*/
.photoBloc {
  width: 100%;
  height: 50vh;
}
.photoBloc .photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*MENU PAGES*/
.menu {
  position: relative;
  margin-top: -80px;
  padding: 15px 20px;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
  width: 100%;
}
.menu .menuTitleBloc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.menu .menuTitleBloc .menuTitle {
  font-family: "shrikhand", serif;
}
.menu .menuTitleBloc .cardHeart {
  position: relative;
  margin-right: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
}
.menu .menuTitleBloc .cardHeart .heartFull {
  position: absolute;
}
.menu .menuTitleBloc .cardHeart .heartFull path {
  fill: url(#heartColor);
  stroke: url(#heartColor);
  opacity: 0;
}
.menu .menuTitleBloc .cardHeart .heartFull path:hover {
  opacity: 1;
  transition: 0.5s;
}
.menu .menuTitleBloc .cardHeart .heartEmpty path {
  fill: white;
  stroke: black;
  stroke-width: 20px;
  position: relative;
}
.menu .menuGrid {
  display: grid;
  gap: 1.5rem;
}
.menu .menuGrid .menuColumn {
  display: grid;
  gap: 20px;
}
.menu .menuGrid .menuColumn .columnTitle {
  position: relative;
  font-size: 19px;
}
.menu .menuGrid .menuColumn .columnTitle h3::after {
  content: "";
  width: 50px;
  height: 4px;
  background-color: #99e2d0;
  position: absolute;
  z-index: 20;
  left: 0px;
  bottom: -8px;
}
.menu .menuGrid .columnRow {
  background-color: white;
  box-shadow: 3px 3px 3px 3px #cecece;
  border-radius: 15px;
  padding: 0px;
  height: 4rem;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.menu .menuGrid .columnRow:hover .validation {
  position: relative;
  background-color: #99e2d0;
  width: 30%;
  opacity: 1;
  visibility: visible;
  border-radius: 0 15px 15px 0;
  height: 100%;
}
.menu .menuGrid .columnRow:hover .validation i {
  font-size: 30px;
  color: white;
  transform: rotate(180deg);
  animation: rotate 0.5s both;
}
.menu .menuGrid .columnRow .platesPrice {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu .menuGrid .columnRow .platesPrice .rowTextBox {
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu .menuGrid .columnRow .platesPrice .rowTextBox .rowTextName p {
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu .menuGrid .columnRow .platesPrice .rowTextBox .rowTextSide p {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu .menuGrid .columnRow .platesPrice .rowTextBox .rowPrice {
  padding-right: 20px;
  margin-left: 20px;
}
.menu .menuGrid .validation {
  background-color: #99e2d0;
  display: flex;
  justify-content: center;
  width: 0%;
  border-radius: 0 15px 15px 0;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.8s;
}
.menu .menuGrid .validation i {
  padding: 15px;
  font-size: 30px;
  color: white;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes slide-left {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(-50px);
  }
}
.menu .menuBtnBloc {
  display: flex;
  justify-content: center;
  width: 100%;
}
.menu .menuBtnBloc .menuBtn {
  font-weight: bold;
  color: white;
  border-radius: 50px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2);
  padding: 15px 20px 15px 20px;
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  margin: 30px 0 25px 0;
  cursor: pointer;
  opacity: 1;
}
.menu .menuBtnBloc .menuBtn:hover {
  transform: scale(1.06);
  transition-duration: 300ms;
  cursor: pointer;
  opacity: 0.8;
}

.appearance {
  animation: opacity 1s both;
}

#row1 {
  animation-delay: 0.1s;
}

#row2 {
  animation-delay: 0.2s;
}

#row3 {
  animation-delay: 0.3s;
}

#row4 {
  animation-delay: 0.4s;
}

#row5 {
  animation-delay: 0.5s;
}

#row6 {
  animation-delay: 0.6s;
}

#row7 {
  animation-delay: 0.7s;
}

#row8 {
  animation-delay: 0.8s;
}

#row9 {
  animation-delay: 0.9s;
}

#row10 {
  animation-delay: 1s;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*FOOTER*/
.footer {
  background-color: #353535;
  color: white;
  padding: 20px 0 25px 20px;
  width: 100%;
}
.footer .footerBloc {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 1rem;
  gap: 1rem;
}
.footer .footerLogo {
  font-family: "shrikhand", serif;
}
.footer .footerLink {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  cursor: pointer;
}
.footer .footerLink .fas {
  margin-right: 10px;
  color: white;
}

/*RESPONSIVE*/
@media screen and (min-width: 900px) {
  /*RESPONSIVE CUSTOM STEPS*/
  .customContainer {
    margin: 0px;
    width: 100%;
  }
  .customContainer .customStepsGrid {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .customContainer .customStepsGrid .customStep {
    width: 70%;
  }

  /*RESPONSIVE RESTAURANT CARDS*/
  .restaurants {
    display: grid;
  }
  .restaurants .restaurantCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
  }

  /*RESPONSIVE RESTAURANT MENU*/
  .menuGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    row-gap: 2rem;
  }

  /*RESPONSIVE FOOTER*/
  .footer .footerBloc {
    grid-template-rows: repeat(1, 1fr);
  }
  .footer .footerBloc .footerLogo {
    font-size: 20px;
  }
  .footer .footerBloc .footerLinksBox {
    display: flex;
    justify-content: space-between;
    max-width: 950px;
  }
}

/*# sourceMappingURL=style.css.map */
